/* table for selecting the categories */
.categories_table{
    margin: auto;
    /*margin: 20px 0px;*/
}

.categories_table tr th{
    background: inherit;
    text-align: center;
}

.categories_table tr:last-child td:first-child{
    min-width: 150px;
    width: 150px;
    vertical-align: text-top;
    margin: 10px 0px;
    font-weight: 600;
}

.categories_table tr:last-child td:first-child p{
    margin: 7px 0;
}

/* category graph */
.categories_graph .node {
    cursor: pointer;
}

.categories_graph .node circle {
    /*fill: #fff;*/
    stroke: steelblue;
    stroke-width: 1.5px;
}

.categories_graph .node text {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    display: block;
    width: 50px;
}

.categories_graph .node text.root_node {
    font-size: 16px;
    font-weight: bold;
}

.categories_graph .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}

/* tooltip */
div.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 5px 15px;
    font: 14px sans-serif;
    background: #a8de9c;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    z-index: 999;
}