/* category graph */
#categories_graph .node {
  cursor: pointer;
}

#categories_graph .node circle {
  /*fill: #fff;*/
  stroke: steelblue;
  stroke-width: 1.5px;
}

#categories_graph .node text {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    display: block;
    width: 50px;
}

#categories_graph .node text.root_node {
    font-size: 16px;
    font-weight: bold;
}

#categories_graph .link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

/* style for the product graph */
.product_graph {
    border: 1px solid #ccc;
}

.product_graph circle.node {
    /*fill: lightsteelblue;*/
    /*stroke: #555;*/
    stroke-width: 3px;
}

.product_graph path.hull {
    /*fill: lightsteelblue;*/
    stroke-opacity: 1;
    fill-opacity: 0.6;
    stroke: gray;
    stroke-width: 2;
}

.product_graph line.link {
  stroke: #333;
  stroke-opacity: 0.5;
  pointer-events: none;
}

/* tooltip */
div.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 5px 15px;
    font: 14px sans-serif;
    background: #a8de9c;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    z-index: 999;
}
