/* style for the product graph */
.product_graph {
    /*border: 1px solid #ccc;*/
    margin: 0px;
    background: #ADA996;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAEAEA, #e7e7e7, #F2F2F2, #ccc8b0);  /* Chrome 10-25, Safari 5.1-6 */
    /*background: radial-gradient(circle at center, #EAEAEA, #F2F2F2, #e7e7e7, #dbd7bd); !* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ *!*/
    background: radial-gradient(circle at center, #ede9ce, #d3c193)
    /*background-color: #e9e9e9;*/
}

.product_graph circle.node {
    /*fill: lightsteelblue;*/
    /*stroke: #555;*/
    stroke-width: 3px;
}

.product_graph path.hull {
    /*fill: lightsteelblue;*/
    stroke-opacity: 1;
    fill-opacity: 0.6;
    stroke: gray;
    stroke-width: 2;
}

.product_graph line.link {
    stroke: #333;
    pointer-events: none;
}

/*  */
.productCard{
    padding: 6px 13px;
}

.productSectionTitle{
    height: 7%;
    margin: 0px;
    text-align: center;
    vertical-align: middle;
    font-family: "Roboto",sans-serif;
    font-size: 15px;
    font-weight: 800;
    /*background: #b0aac2;*/
    background: #935347;
    color: #ede9ce;
}

/* List of best Products */
/*.bestProducts{*/
    /*width: ;*/
/*}*/

/* Price brush */
.priceBrushDiv{
    font-family: "Roboto",sans-serif;
    font-size: 15px;
    font-weight: 800;
    text-align: center;
    margin: 0px;
    background: #935347;
    color: #ede9ce;
}

.priceBrush,
.priceBrush g {
    width: 100%;
    height: 100%;
    margin: auto;
}

.priceBrush g{
    margin: auto;
}

.priceBrush .axis--grid .domain {
    fill: #ddd;
    /*stroke: none;*/
    stroke: #c7ad88;
    opacity: 0.1;
}

.priceBrush .axis--x .domain,
.priceBrush .axis--grid .tick line {
    /*stroke: #64706c;*/
    stroke: #c7ad88;
}

.priceBrush .axis--x .tick line{
    stroke: #ffdfae;
    stroke-width: 2px;
}

.priceBrush .axis--x .tick text{
    /*fill: #444444;*/
    fill: #ffddae;
    font-size: 13px;
}

.priceBrush .axis--grid .tick--minor line {
    stroke-opacity: .5;
}

.brush .selection{
    fill: #c7ad88;
    fill-opacity: 0.7;
}

.nice_scrollbar::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.nice_scrollbar::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

.nice_scrollbar::-webkit-scrollbar-thumb
{
    background-color: #3366FF;
    border-radius: 10px;
    background-image: -webkit-linear-gradient(0deg,rgba(255, 255, 255, 0.5) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.5) 75%, transparent 75%, transparent)
}


/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #e9e9e9; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    text-decoration: none;
    position: absolute;
    top: -3px;
    right: 18px;
    font-size: 36px;
    margin-left: 50px;
    /*color: #757575;*/
    color: black;
}

/* When you mouse over the navigation links, change their color */
.sidenav .closebtn:hover{
    color: #adadad;
}