/** {box-sizing: border-box;}*/

body {
    margin: 0px;
    /*overflow-x: hidden;*/
    font-size: 0px;
}

.topnav {
    font-family: "Roboto",sans-serif;
    overflow: hidden;
    border: none;
    /*background: #c2d4d8;*/
    background: #c7ad88;
    background: linear-gradient(to bottom, #dac099, #c9af89);
    /*background: url("../img/gray_background4.jpg");*/
    /*border-bottom: 1px solid #935347;*/
    height: 45px;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    font-family: "Roboto",sans-serif;
    /*background-color: #f6f6f6;*/
    color: #ede9ce;
    /*border: 1px solid #ede9ce;*/
    /*background: url("../img/gray_background2.jpg");*/
}

.topnav a:first-child{
    /*background: #f2efe8;*/
    background: #64706c;
    background: linear-gradient(to top, #788480, #6b7a76);
}

.topnav a:nth-child(2){
    /*background-color: #dbe9d8;*/
    background: #935347;
    background: linear-gradient(to top, #ac654e, #8b4c46);
}

.topnav a:hover {
    /*background-color: #d1d1d1;*/
    opacity: 0.8;
    /*color: black;*/
}

.topnav a.active {
    background-color: #2196F3;
    color: white;
}

.topnav .search-container {
    float: right;
    /*height: 44px;*/
}

.topnav input[type=text]{
    width: 300px;
    padding: 6px;
    margin: 7px;
    font-size: 14px;
    font-family: "Roboto",sans-serif;
    border: none;
    border-bottom: 1px solid #935347;
    border-right: 1px solid #935347;
}

.topnav input::placeholder {
    font-size: 13px;
}

.topnav .search-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 7px;
    margin-right: 16px;
    background: #ede9ce;
    font-size: 13px;
    border: none;
    border-bottom: 1px solid #935347;
    border-right: 1px solid #935347;
    cursor: pointer;
}

.topnav .search-container button:hover {
    background: #dbd7be;
}

@media screen and (max-width: 600px) {
    .topnav .search-container {
        float: none;
    }

    .topnav a, .topnav input[type=text], .topnav .search-container button {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }

    .topnav input[type=text] {
        border: 1px solid #ccc;
    }
}

/* Autocompletion suggestion windows*/
.autocomplete-suggestions {
    font-size: 14px;
    font-family: "Roboto",sans-serif;
    text-align: left; cursor: default; border: 1px solid #ccc; border-top: 0; background: #fff; box-shadow: -1px 1px 3px rgba(0,0,0,.1);

    /* core styles should not be changed */
    position: absolute; display: none; z-index: 9999; max-height: 254px; overflow: hidden; overflow-y: auto; box-sizing: border-box;
}
.autocomplete-suggestion { position: relative; padding: 0 .6em; line-height: 23px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; font-size: 1.02em; color: #333; }
.autocomplete-suggestion b { font-weight: normal; color: #1f8dd6; }
.autocomplete-suggestion.selected { background: #f0f0f0; }
